section.map.modal.visually-hidden
    h2.visually-hidden Как до нас добраться
    a.dg-widget-link(href='http://2gis.ru/nabchelny/firm/70000001019585536/center/51.810142,55.63929/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap') Посмотреть на карте Набережных Челнов
    .dg-widget-link
        a(href='http://2gis.ru/nabchelny/firm/70000001019585536/photos/70000001019585536/center/51.810142,55.63929/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos') Фотографии компании
    .dg-widget-link
        a(href='http://2gis.ru/nabchelny/center/51.810142,55.63929/zoom/16/routeTab/rsType/bus/to/51.810142,55.63929╎Олимп, торговый центр?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route') Найти проезд до Олимп, торговый центр
    script(charset='utf-8', src='https://widgets.2gis.com/js/DGWidgetLoader.js')
    script(charset='utf-8', src='scripts/2gis-config.js')
    noscript(style='color:#c00;font-size:16px;font-weight:bold;') Виджет карты использует JavaScript. Включите его в настройках вашего браузера.
    button.modal__close(type='button') Закрыть
