section.registration.modal.visually-hidden
    h2 Регистрация
    p * Обязательные поля для заполнения
    form.registration__form(action='#', method='post')
        input(type='text', name='username', placeholder='Логин *')
        input(type='text', name='email', placeholder='email')
        input(type='password', name='password', placeholder='Пароль *')
        input(type='password', name='repassword', placeholder='Повторите пароль *')
        p.informer
        button.button(type='submit') Отправить
    button.modal__close(type='button') Закрыть
