extends template/inner-page

block page-main
    main.page-main-inner.container
        h1 Услуги
        nav.breadcrumbs.page-main-inner__breadcrumbs
            a.breadcrumbs__item(href='/') Главная
            a.breadcrumbs__item О нас
        article.article.page-main-inner__article
            h2 Центр энергетики «PRO-качайся»
            p Мы рады приветствовать Вас в нашем Центре энергетики «PRO-качайся»! Мы искренне любим своё дело, занимаемся с большой самоотдачей и желанием! Наш центр для тех, кто хочет изменить себя и, в первую очередь, изменить своё внутренне состояние. Мы разработали авторские программы, которые позволят Вам становится увереннее, красивее и желаннее!
            img(src=`/img/about/1-187-1000x520.jpg`)
            p Программы, которые взаимодействуют между друг другом и направлены на всё наше тело: это дыхание, спортивные нагрузки, красивая осанка, омолаживающая программа для лица, практики и медитации. Наша цель: показать женщинам, что выглядеть прекрасно можно в любом возрасте! Просто нужно приложить чуточку усилий! За 9 месяцев в нашем центре прошли только двухнедельные курсы по бодифлексу более 60 женщин и по фейсбилдингу более 30 женщин. На занятиях бодифлекса буквально за этот период мы обучили дыхательным практикам более 200 женщин! Мы ждём Вас в нашем центре! Совершенствуйся вместе с нами!
