doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Админ панель
        link(rel='stylesheet', href='/css/admin.css')
    body
        div#root
        script(src="/scripts/admin.js")
