extends template/inner-page

block page-main
    main.page-main-inner.container
        h1 Новости
        nav.breadcrumbs.page-main-inner__breadcrumbs
            a.breadcrumbs__item(href='/') Главная
            a.breadcrumbs__item Новости
        .news-article-wrapper
            each news in data
                article.article.news-article__item
                    h2(id=news.linkHash)= news.title
                    time= news.fromTo
                    br
                    != news.content
