extends template/inner-page

block page-main
    main.page-main-inner.container
        h1= articleList[0].srv_title
        nav.breadcrumbs.page-main-inner__breadcrumbs
            a.breadcrumbs__item(href='/') Главная
            a.breadcrumbs__item(href='/service') Услуги
            a.breadcrumbs__item= articleList[0].srv_title
        each article in articleList
            article.article.page-main-inner__article
                h2= article.art_title
                != article.art_content
