extends index

block page-header
    header.page-header
        include ../includes/main-nav
block page-modals
    include ../includes/signin
    include ../includes/shadow
    include ../includes/signup
    include ../includes/notify
