extends index

block page-header
    header.page-header
        include ../includes/main-nav
block page-modals
    include ../includes/login
    include ../includes/shadow
    include ../includes/registration
    include ../includes/notify
